*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    justify-content: start;
}
.wbc-header
{
    display: flex;
    justify-content: center;
    border: 1px solid #898989;
    background-color:#898989; 
    color: #e0e0ff;
    padding: 1rem;
}
.wbc-header h1 
{
    align-self: start;
    font-weight: 300;
}
.wbc-footer
{
   position: fixed; 
   bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:#898989; 
    color: #e0e0ff;
    padding: 1rem;
    height: 5%;
}
.App
{
    height: 100vh;
    width: 100%;
}
